<div class="profile-page__form-info__row">
  <input class="input-profile" type={{ type }} size="40" value={{value}} name="{{ inputName }}" id={{
    inputName}}_input></input>
  <div class="profile-page__form-info__label">{{{placeholder}}}</div>
</div>
