<div class="main">
  <nav>
    <ul class="navigation">
      <li>{{{ButtonToLogin}}}</li>
      <li>{{{ButtonToSignIn}}}</li>
      <li>{{{ButtonToChat}}}</li>
      <li>{{{ButtonToProfile}}}</li>
      <li>{{{ButtonToError404}}}</li>
      <li>{{{ButtonToError500}}}</li>
    </ul>
  </nav>
</div>
