<form class={{className}}>
  <div class="form-head">
    {{{formHead}}}
  </div>
  {{{formBody}}}
  <div class="form-footer">
    <div class="form-footer__button">
      {{{formFooterButton}}}
    </div>
    <div class="form-footer__link">
      {{{formFooterLink}}}
    </div>

  </div>
</form>
