<div class="chat-room__send-message-panel">
  {{{ButtonAttachment}}}
  {{{InputMessageField}}}
  {{{ButtonMessageSend}}}
  {{!-- <img src={{ icons.addIconSvg }} alt="">
  <div class="message-enter">{{> messageEnter placeholder="Сообщение" inputName="message" }}</div>
  <div class="message-send"><img src={{ icons.arrowRightIconSvg }} alt=""></div> --}}
</div>
