<div class="chat">
  <div class="chat-left-field">
    {{{ButtonToProfile}}}
    {{{SearchField}}}
    {{{ChatListComponent}}}
  </div>
  <div class="chat-right-field">
    {{{ChatRoomHeader}}}
    {{{ChatRoomContent}}}
    {{{ChatRoomMessagePanel}}}
  </div>
</div>
