<div class="profile-page">
  {{{ButtonBack}}}
  <div class="profile-page__form">
    {{{Avatar}}}
    {{{Form}}}
    <div class="profile-page__form-actions">
      {{{ButtonChangeData}}}
      {{{ButtonChangePassword}}}
      {{{ButtonLogout}}}
    </div>
    <div class="profile-page__form-save-button">
      {{{ButtonSave}}}
    </div>
    {{{ModalContext}}}
  </div>
</div>
