<div class="chat-room-header">
  {{#if selectedChat}}
  <div class="chat-room-header__avatar">
    <img src="{{{avatar}}}" width="34" alt="avatar room or user" />
  </div>
  <div class="chat-room-header__name">{{{roomName}}}
    <div>
      {{{ButtonContextMenu}}}
      {{{TooltipMenuChatRoomContext}}}

    </div>
  </div>
  {{{ ModalContext }}}
  {{/if}}
</div>
