<li class="{{className}}">
  {{#if icon}}
  {{!-- <i class="ib {{{ icon }}} {{ iconClassName }}"></i> --}}
  <img src={{ icon }} alt="tooltip-action icon">
  {{/if}}

  {{#if text}}
  <span>{{ text }}</span>
  {{/if}}
</li>
