<div class="form-content">
  <div class="form-content__input">
    {{{EmailInput}}}
  </div>
  <div class="form-content__input">
    {{{LoginInput}}}
  </div>
  <div class="form-content__input">
    {{{FirstNameInput}}}
  </div>
  <div class="form-content__input">
    {{{SecondNameInput}}}
  </div>
  <div class="form-content__input">
    {{{PhoneInput}}}
  </div>
  <div class="form-content__input">
    {{{PasswordInput}}}
  </div>
  <div class="form-content__input">
    {{{PasswordRepeatInput}}}
  </div>
</div>
