<div class="form-content">
    {{!-- <div class="form-content__input">
        {{{LoginInput}}}
    </div>
    <div class="form-content__input">
        {{{PasswordInput}}}
    </div> --}}
    <div class="form-content__input">
        {{!-- {{> input placeholder="Почта" type="email" inputName="email" }} --}}
        {{{EmailInput}}}
    </div>
    <div class="form-content__input">
        {{!-- {{> input placeholder="Логин" type="text" inputName="login"}} --}}
        {{{LoginInput}}}
    </div>
    <div class="form-content__input">
        {{!-- {{> input placeholder="Имя" type="text" inputName="first_name"}} --}}
        {{{FirstNameInput}}}
    </div>
    <div class="form-content__input">
        {{!-- {{> input placeholder="Фамилия" type="text" inputName="second_name"}} --}}
        {{{SecondNameInput}}}
    </div>
    <div class="form-content__input">
        {{!-- {{> input placeholder="Телефон" type="tel" inputName="phone"}} --}}
        {{{PhoneInput}}}
    </div>
    <div class="form-content__input">
        {{!-- {{> input placeholder="Пароль" type="password" inputName="password"}} --}}
        {{{PasswordInput}}}
    </div>
    <div class="form-content__input">
        {{!-- {{> input placeholder="Пароль(повтор)" type="password" inputName="password_repeat"}} --}}
        {{{PasswordRepeatInput}}}
    </div>
</div>
