<div class="status-error-page">
  {{#ifEquals page "error404"}}
  <div class="status-error-page__error-code">{{ error404.errorCode }}</div>
  <div class="status-error-page__error-message">{{ error404.errorMessage }}</div>
  {{else}}
  <div class="status-error-page__error-code">{{ error500.errorCode }}</div>
  <div class="status-error-page__error-message">{{ error500.errorMessage }}</div>
  {{/ifEquals}}
  <div class="status-error-page__back-link"><a onclick="goToPage('chat')">Назад к чатам</a></div>
</div>